<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Systems Enginner</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css"
      rel="stylesheet"
    />
    <link href="/publico/styles.css" rel="stylesheet" />
  </head>
  <body id="page-top">
    <nav
      class="navbar navbar-expand-lg navbar-light fixed-top py-3"
      id="mainNav"
    >
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#page-top">Systems Enginner</a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto my-2 my-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/kfornow"
                >portafolio</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Admin</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="juan">
      <div class="container px-4 px-lg-5 h-100">
        <div
          class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
        >
          <div class="col-lg-8 align-self-end">
            <h1 class="text-white font-weight-bold">
              Tus proyectos en nuestras manos
            </h1>
            <hr class="divider bg-white" />
          </div>
          <div class="col-lg-8 align-self-baseline">
            <a class="btn bg-white btn-xl" href="#contact"
              >Conctactanos Haora</a
            >
          </div>
        </div>
      </div>
    </header>

    <section class="page-section bg-black" id="about">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="text-white mt-0">Quienes somos!</h2>
            <hr class="divider divider-light" />
            <p class="text-white-75 mb-4">
              Somos desarrolladores comprometidos con nuestro trabajo
            </p>
            <a class="btn btn-light btn-xl" href="#services">Leer mas</a>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section" id="services">
      <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Nuestros Caracteristicas</h2>
        <hr class="divider bg-dark" />
        <div class="row gx-4 gx-lg-5">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <div class="mb-2"><i class="bi-gem fs-1 text-black"></i></div>
              <h3 class="h4 mb-2">Experiencia</h3>
              <p class="text-muted mb-0">
                contamos con mas de 5 años en experiencia en el mercado!
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <div class="mb-2"><i class="bi-laptop fs-1 text-black"></i></div>
              <h3 class="h4 mb-2">Productividad</h3>
              <p class="text-muted mb-0">
                en terminos de productividad somos los mejores con proyectos
                finalizados en poco tiempo
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <div class="mb-2"><i class="bi-globe fs-1 text-black"></i></div>
              <h3 class="h4 mb-2">proyectos desarrollados</h3>
              <p class="text-muted mb-0">
                Hemos estado involucrados en multiples proyectos como los de
                amazon,gogle o facebook puedes visitar nuestro portafolio con
                los repositorios de cada uno de nuestros proyecto
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <div class="mb-2"><i class="bi-heart fs-1 text-black"></i></div>
              <h3 class="h4 mb-2">Compromiso</h3>
              <p class="text-muted mb-0">
                Somos ingenieros de corazon y estamos comprometidos con nuestros
                clientes
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section bg-black text-white">
      <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">Invierte en nosotros</h2>
        <a
          class="btn btn-light btn-xl"
          href="https://www.paypal.com/co/webapps/mpp/home?kid=p67128741798&gclsrc=ds&gclsrc=ds"
          target="_blank"
          >Apoyos y Donaciones!</a
        >
      </div>
    </section>

    <section class="page-section" id="contact">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8 col-xl-6 text-center">
            <h2 class="mt-0">Bandeja de conctacto</h2>
            <hr class="divider bg-black" />
          </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
          <div class="col-lg-6">
            <form
              data-sb-form-api-token="API_TOKEN"
              action="/mensajes"
              method="POST"
            >
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  id="nombre"
                  name="nombre"
                  type="text"
                  placeholder="Ingrese su nombre completo..."
                  required
                />
                <label for="name">Nombre Completo</label>
              </div>

              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  id="email"
                  name="email"
                  type="text"
                  placeholder="name@example.com"
                  required
                />
                <label for="email">Ingresa tu email</label>
              </div>

              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  id="telefono"
                  name="telefono"
                  type="text"
                  placeholder="(123) 456-7890"
                  required
                />
                <label for="phone">Numero de telefono</label>
              </div>

              <div class="form-floating mb-3">
                <textarea
                  class="form-control"
                  id="peticion"
                  name="peticion"
                  type="text"
                  placeholder="Enter your message here..."
                  style="height: 10rem"
                  required
                ></textarea>
                <label for="message">Mensaje</label>
              </div>

              <div>
                <select name="enfasis" id="enfasis" required>
                  <option value="">Seleccione</option>
                  <% for (var count =0;count < results.length; count++){ %>
                  <option value="<%=results[count].enfasis %>">
                    <%=results[count].enfasis %>
                  </option>
                  <% } %>
                </select>
              </div>

              <div
                class="col-lg-18 align-self-baseline d-flex justify-content-center"
              >
                <button type="submit" class="bg-dark text-white">enviar</button>
              </div>
            </form>
          </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-4 text-center mb-5 mb-lg-0">
            <i class="bi-phone fs-2 mb-3 text-muted"></i>
            <div>+57 (311) 856-8900</div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <footer class="bg-black text white py-5">
      <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">
          Copyright &copy; 2022 - Juanito Developent
        </div>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="/publico/script.js"></script>

    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  </body>
</html>
